/* Google fonts Import */

@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(169, 226, 245);
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  background: rgb(11, 11, 42);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.game-details {
  color: rgb(169, 226, 245);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 5);
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
}
.play-board .food {
  background: red;
  width: 100%;
  height: 100%;
}
.play-board .head {
  background: rgb(13, 155, 13);
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  color: rgb(169, 226, 245);
  padding: 25px 0;
  width: calc(100% / 4);
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  border-right: 1px solid rgb(169, 226, 245);
}

/* On small screens the control buttons will appear */

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
